.home-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 136, 40);
}
.home-page .container{
    text-align: center;
}
.home-page .container .portfolio span{
    font-size: 250px;
}